<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.lab4inf.rcp.plotter.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="notexists"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension point="org.eclipse.ui.views">
        <view
              category="Canvas category"
              class="de.lab4inf.rcp.plotter.parts.RcpCanvasView"
              id="de.lab4inf.rcp.plotter.parts.RcpCanvasView"
              name="Canvas View">
        </view>
        <view
              category="Canvas category"
              class="de.lab4inf.rcp.plotter.parts.EditorView"
              id="de.lab4inf.rcp.plotter.parts.EditorView"
              name="Editor View"
              restorable="true">
        </view>
        <view
              category="Canvas category"
              class="de.lab4inf.rcp.plotter.parts.ListView"
              id="de.lab4inf.rcp.plotter.parts.ListView"
              name="List View"
              restorable="true">
        </view>
</extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.lab4inf.rcp.plotter.PlotterPerspective"
            id="PlotterPerspective"
            name="PlotterPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="PlotterPerspective">
         <view
               id="de.lab4inf.rcp.plotter.parts.ListView"
               minimized="false"
               relationship="stack"
               relative="left"
               visible="true">
         </view>
         <view
               id="de.lab4inf.rcp.plotter.parts.RcpCanvasView"
               minimized="false"
               relationship="stack"
               relative="top"
               visible="true">
         </view>
         <view
               id="de.lab4inf.rcp.plotter.parts.EditorView"
               minimized="false"
               relationship="stack"
               relative="right"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.services">
   </extension>

</plugin>
